
/* Vishwesh Css Start*/
.guest-left-nav {
    margin: 200px auto 0px;
    width: 100%;
}
.guest-left-nav ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
	margin: 0 auto;
	height: 390px;
}
.guest-left-nav li a img{
	width: 36px;
    margin-right: 15px;
    display: inline-block;
}
.guest-left-nav li a {
    display: block;
    color: #2c2c2c;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.guest-sign-up
{
    background-color: white;
    border-radius: 24px;
    margin: 0px 20px 0px 20px;
    -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    
}
.guest-sign-up p
{
    margin-top: -203px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0px 12px 0px;
	
	
}
.guest_left_block{
	height:500px;background-size: cover;background-position:center;
}
.edit-profile-btn{
	background: black;
	color: white;
	width: 75%;
	font-weight: 700;
	margin: 0 auto !important;
    display: block;
}
.edit-profile-btn:focus{
	color: black;
    background: white;
}
.edit-profile-btn:hover{
	background: white;
	color: black;
	border:1px solid black;
}
.edit-user-info-label{
	color:#C8C9CA;
}
.edit-profile-link{
	margin: 1px;
}
.user-info-img-container{
	margin: 0 auto;
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .logo a{
    padding: 0px !important;
}
.logo-fix{
    vertical-align: bottom;
    padding-left: 5px;
}

.special-feed{
    display: none;
}
.header-right{
    display: none;
}
/* Upgrage Margin Css Start*/


.upgrade-margin
{
  margin: 10px 0px 0px 0px !important;
}
.account_setting .account_list_block
{
    padding-bottom:5px;
}

@media screen and (max-width: 1024px){
    .logo-img{
        padding-top: 10px;
    }
}
@media screen and (max-width: 1024px){
    .guest-logo{
        float: left;
        padding: 10px;
    }
    .navbar-collapse-late{
        width: 100px;
        float: right;
        margin: 22px 0px 0px 0px;
    }
}
@media screen and (max-width: 320px){
    section .main_center_block {
        margin: 70px 0px 0px 0px;
    }
    .upgrade-margin {
        margin: 20px 0px 0px 0px !important;
    }
    .table{
        margin-bottom: 20px;
    }
}
/* Upgrage Margin Css End*/

.bottom_footer_left a, .bottom_footer_left a:hover{
    text-decoration: underline;
    color: #ffffff;
}
/* Xmas Special Styling Start*/
footer.xmas{
    background-size: 100%;
    background-image: url(../assets/sofagamescouk/footer-xmas.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 75px;
}
.xmas-feed{
    text-align: center;
    width: 100%;
}
.special-feed.xmas{
    display: block;
    width: 300px;
    height: 260px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url('../assets/sofagamescouk/feed-xmas.png');
    background-size: contain;
}

header.xmas
{
    background: #8d0005 url(../assets/sofagamescouk/header-xmas.png) no-repeat;
    background-size: contain;
    box-shadow: none;
    background-position: center 5px; 
}
.header-right.xmas
{
    background: url(../assets/sofagamescouk/header-right-xmas.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 55px;
    right: 15px;
    width: 60px;
    height: 60px;
    display: block;
}

@media only screen and ( max-width: 1024px ) {
    header.xmas{
        background: #8d0005 url('../assets/sofagamescouk/header-mobile-xmas.png') no-repeat;
        background-position: center top;
    }
    .header-right.xmas{
        display: none;
    }
    .navbar-toggle{
        display: block;
        margin: 7.5px -15px !important
    }
    .navbar-nav>li{
        float: none;
    }
}
@media (max-width: 1024px){
    .navbar-collapse{
        margin-top: 65px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
}
@media only screen and ( max-width: 600px ) {
    .navbar-collapse{
        margin-top: 35px;
    }
    header.xmas{
        background: #8d0005 url(../assets/sofagamescouk/header-mobile-xmas.png) no-repeat;
        background-size: 100%;
        background-position: center top;
    }
}


header .logo{
    background: none;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}
.navbar-default .navbar-toggle{
    float: left;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: none;
}
/* Xmas Special Styling End*/

/* Puzzle Styling Start */
.timer_block{ margin-top: -15px; }

@media only screen and ( min-width: 320px ) and ( max-width: 768px ) {
    .main_block_game_mobile_full{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 55px;
    }
    .no_border_radius_mobile{
        border-radius: 0px !important;
    }
    .timer_block{
        margin-top: -45px;
    }
}
/* Puzzle Styling End */


/* Vishwesh Css End*

