@font-face {
  font-family: Open-Sans;
  src: url(/fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: Bubble;
  src: url(/fonts/Bubbleboddy%20Neue-trial.ttf); }

@font-face {
  font-family: Bubble_b;
  src: url(/fonts/Bubbleboddy%20Neue%20Bold-trial.ttf); }
section a
{
  color: #000000;
}
section a:hover
{
  color: #000000;
  text-decoration: none;
}
header {
  background: #c8a2c8;
  box-shadow: 0 0 10px grey; }
  header .container {
    padding: 0px 15px; }
  header .navbar {
    display: inline-block;
    margin: 0 0 0 15%;
    background: transparent;
    border: none;
    text-align: center;
    padding-top: 2px; }
  header .logo {
    display: inline-block;
    width: 150px;
    background-size: contain;
    vertical-align: top;
    margin-top: 10px;
    height: 32px; }
    header .logo a {
      padding: 10px 150px; }
  header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:focus, header .navbar-default .navbar-nav > .active > a:hover {
    color: #c8a2c8;
    background: #FFFFFF;
    border-radius: 25px; }
  header .navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-family: Open-Sans; }
    header .navbar-default .navbar-nav > li > a:hover {
      color: #FFFFFF; }
  header .navbar-default .navbar-nav > li > a:focus, header .navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
    outline: none; }
  header .money a {
    font-family: Open-Sans;
    color: #FFFFFF;
    font-size: 22px;  }
    header .money i {
      margin-right: 10px; }
    header .money a
    {
      color: #FFFFFF;

    }
    header .money
    {
      padding: 14px 0;
    }
    header .money a:hover
    {
      text-decoration: none;
      color: #FFFFFF;
    }
  header .row {
    padding: 5px 0; }

section .left_block {
  margin: 30px 0;
  -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  padding: 40px 0; }
  section .left_block img {
    display: block;
    margin: 0 auto; }
  section .left_block .user_name {
    color: #c8a2c8;
    font-size: 24px;
    font-family: Open-Sans;
    text-align: center;
    margin-top: 30px; }
  section .left_block .points {
    text-align: center;
    margin-top: 30px;
    font-family: Open-Sans; }
    section .left_block .points p {
      color: #c8a2c8;
      font-size: 24px;
      font-family: Open-Sans;
      line-height: 1px; }
  section .left_block .games_played {
    text-align: center;
    margin-top: 30px;
    font-family: Open-Sans; }
    section .left_block .games_played p {
      color: #c8a2c8;
      font-size: 24px;
      font-family: Open-Sans;
      line-height: 1px; }

section .right_block h2 {
  color: #c8a2c8;
  font-family: Bubble;
  font-size: 24px;
  margin: 0;
  text-align: center; }

section .right_block .main_block_right {
  margin: 30px 0;
  padding: 40px 0;
  -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75); }
  section .right_block .main_block_right .game_sample {
    margin: 20px 0;
    text-align: center; }
    section .right_block .main_block_right .game_sample img {
      display: block;
      margin: 10px auto;
      font-family: Open-Sans; }

section .main_center_block {
  margin: 30px 0;
  padding: 0px 0; }
  section .main_center_block h1 {
    font-size: 23px;
    font-family: Bubble_b;
    color: #c8a2c8;
    display: inline-flex; }
    section .main_center_block h1 img {
      margin-right: 10px;
      margin-top: -4px; }
  section .main_center_block .main_text {
    color: #000000;
    margin: 20px 0; }
  section .main_center_block .main_pic {
    display: block;
    margin: 0 auto; }
  section .main_center_block h2 {
    font-size: 24px;
    font-family: Bubble_b;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #c8a2c8; }
  section .main_center_block .list_items {
    list-style: none;
    display: block;
    text-align: center;
    padding: 0; }
    section .main_center_block .list_items li {
      display: inline-block;
      position: relative;
      margin: 20px 39px; }
      section .main_center_block .list_items li i {
        font-size: 36px; }
      section .main_center_block .list_items li a {
        color: #3f3f3f;
        display: block;
        -webkit-box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
        padding: 6px 10px 0px 10px;
        border-radius: 30px; }
        section .main_center_block .list_items li a:hover {
          background: #c8a2c8;
          transition: 0.8s; }
          section .main_center_block .list_items li a:hover i {
            color: #FFFFFF; }
          section .main_center_block .list_items li a:hover span {
            bottom: -35px;
            transition: 0.5s;
            font-weight: bold; }
      section .main_center_block .list_items li span {
        position: absolute;
        bottom: -25px;
        min-width: 73px;
        text-align: center;
        left: -8px; }

.question_ico {
  width: 45px;
  height: 45px;
  background: #3f3f3f;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  vertical-align: top; }
  .question_ico i {
    display: block;
    font-size: 28px;
    padding-top: 5px;
    color: #FFFFFF; }
.top_game_name .question_ico
{
  background: transparent;

}
.top_game_name .question_ico img
{
  margin-top: 7px;

}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
  border: none; }

.game_block_main .mid_section_block img {
  display: block;
  margin: 0 auto; }

.game_block_main .mid_section_block p {
  margin: 20px 0; }

.game_block_main .mid_section_block p a {

    text-decoration: underline;

}

.game_block_main {
  -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px; }
  .game_block_main .game_name {
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px; }
    .game_block_main .game_name a:hover {
      text-decoration: none; }
    .game_block_main .game_name a h3 {
      margin: 0;
      color: #c8a2c8;
      font-family: Bubble_b; }
    .game_block_main .game_name span a {
      color: #9c9c9c; }
  .game_block_main .right_part {
    color: #9c9c9c;
    display: inline-block;
    cursor: pointer; }
    .game_block_main .right_part i {
      font-size: 30px;
      vertical-align: middle; }
    .game_block_main .right_part span {
      font-size: 14px; }
    .game_block_main .right_part:hover {
      color: #c8a2c8; }
  .game_block_main .left_part {
    display: inline-block; }
  .game_block_main .wrap {
    padding: 20px 40px 0 40px;
    margin-bottom: 0; }
  .game_block_main .left_mid_part {
    display: inline-block;
    color: #9c9c9c;
    padding-top: 30px; }
    .game_block_main .left_mid_part span {
      padding-left: 10px; }
    .game_block_main .left_mid_part i {
      vertical-align: middle; }
  .game_block_main .right_mid_part {
    color: #c8a2c8;
    padding-top: 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold; }
    .game_block_main .right_mid_part span {
      padding-left: 10px; }
    .game_block_main .right_mid_part span a {
      color: #c8a2c8; }
  .game_block_main .group_buttons {
    display: inline-block;
    text-align: center; }

.group_buttons {
  width: 100%; }
.group_buttons a
{
  color: #000000;
}
.my_button {
  width: 220px;
  height: 62px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.75);
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  display: inline-block;
  margin: 15px 0 15px 10px;
  font-family: Bubble_b;
  padding: 0;
  font-size: 16px; }
  .my_button i {
    vertical-align: middle;
    padding-right: 10px;
    font-size: 24px;
    display: inline-block;
    padding-top: 8px; }
  .my_button:focus {
    outline: none; }
  .my_button:hover {
    background: #3f3f3f;
    color: #FFFFFF; }

.bottom_button {
  display: block;
  margin: 30px  auto; }

.second_type .left_part {
  display: inline-block; }

.second_type .right_part {
  display: block;
  text-align: center; }
  .second_type .right_part span {
    font-size: 18px;
    color: #c8a2c8; }
  .second_type .right_part i {
    color: #c8a2c8;
    vertical-align: bottom; }

.second_type .countdownHolder {
  display: inline-block;
  width: inherit; }

.second_type .mid_section_block img {
  border-radius: 10px; }

.second_type .group_buttons {
  padding-top: 0px;
  text-align: center; }

.main_table {
  width: 100%;
  margin-bottom: 30px; }
  .main_table thead th {
    text-align: center;
    background: #c8a2c8;
    padding: 10px 10px;
    color: #FFFFFF;
    font-family: Bubble_b;
    font-size: 21px; }
  .main_table tbody tr {
    border-bottom: 1px solid #e8e8e8; }
    .main_table tbody tr th {
      padding: 10px 10px;
      font-size: 16px; }
      .main_table tbody tr th:nth-child(1) {
        text-align: center; }
      .main_table tbody tr th span {
        font-weight: normal; }
      .main_table tbody tr th i {
        color: #c8a2c8;
        margin-right: 10px;
        font-size: 21px;
        vertical-align: middle; }

.third_type .group_buttons {
  padding-top: 40px;
  text-align: center; }

.last_type h3 {
  color: #c8a2c8;
  font-family: Bubble_b; }

.last_type .left_part img {
  margin-right: 10px; }

.last_type .group_buttons {
  padding-top: 10px;
  text-align: center; }

footer {
  background: #2c2c2c; }
  footer .footer_table {
    width: 100%;
     }
    footer .footer_table thead {
      color: #c8a2c8;
      font-size: 20px;
      font-family: Bubble_b; }
      footer .footer_table thead th {
        padding: 5px; }
    footer .footer_table tbody a {
      color: #FFFFFF;
      font-size: 16px; }
      footer .footer_table tbody a:hover {
        text-decoration: none; }
    footer .footer_table tbody td {
      padding: 5px; }
  footer .top_right_footer {
    color: #c8a2c8;
    padding: 5px 0 0 10px; }
    footer .top_right_footer a {
      color: #c8a2c8;
      font-family: Bubble_b;
      font-size: 18px; }
      footer .top_right_footer a:hover {
        text-decoration: none; }
    footer .top_right_footer i {
      font-size: 24px;
      vertical-align: middle;
      padding-right: 10px; }
  footer .bottom_right_footer {
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 10px; }
    footer .bottom_right_footer p a {
      color: #FFFFFF;
      display: inline;
      text-decoration: underline}
.bottom_right_footer h3,  .top_right_footer h3
{
  margin-top: 10px;
  font-size: 24px;
  color: #FFFFFF;
}
.error_gender span
{
  color: red;
}
.bottom_footer_text {
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 20px; }
  .bottom_footer_text a {
    color: #FFFFFF;
    text-decoration: underline; }

section {
  padding-top: 50px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  box-shadow: none; }

.navbar-toggle {
  float: left;
  margin-right: 0;
  margin-bottom: 0; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent;
  border: none; }

.navbar-default .navbar-toggle .icon-bar {
  background: #FFFFFF;
  padding: 2px 0;
  margin: 5px 0;
  border-radius: 2px; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

#top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; 
}


@media  screen and (max-width: 992px) {
  section .right_block {
    display: none; }
  section .left_block {
    display: none; } }

@media (max-width: 1024px) {
  .navbar-header {
    float: none; }
  .navbar-toggle {
    display: block;
    margin-top: 5px}
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-collapse.in {
    display: block !important; }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  header .logo {
  margin: 20px 15px 0px 50px;  
    background: url("/assets/onlinequizzendk/logo.png") no-repeat;
    width: 140px;
    height: 35px;
    display: inline-block;
    background-size: 100% 100%;
    margin: 10px 0 10px 50px;  }
  header .navbar {
    width: 100%;
    float: left;
    margin-left: 0 !important;
    position: relative;
    margin-top: -63px; }
  header .row {
    padding: 0px 10px;
    text-align: center; }
  header .navbar {
    margin-left: 0 !important; }
  header .money {
    font-size: 18px;
    padding: 14px 0;
    }
  header i {
    vertical-align: text-top; }
  header .logo a
  {
    padding: 10px 60px;
    position: relative;
    z-index: 9999;
  }
  header .money a
  {
    display: inline-block;
    position: relative;
    z-index: 9999;
  }

}

@media (min-width: 1024px) {
  header .logo{
  margin-top: 18px !important;
    height: 25px !important; } }

@media (max-width: 340px) {
  section .main_center_block h1 span {
    padding-top: 0 !important; } }

@media (max-width: 1205px) {
  .my_button {
    width: 180px;
    font-size: 12px;
    height: 45px;
    margin: 10px 0; }
  .list_items li {
    margin: 20px 15px !important; }
  .main_center_block h1 {
    font-size: 20px; }

    section .main_center_block .main_text {
      margin: 5px 0 20px 0; }
  }
@media (max-width: 992px) {
.prizes .second_type
  {
    margin-top: 71px !important;
  }
} 
@media (max-width: 500px) {
  section .main_center_block h1 img
  {
    margin-top: 10px;
  }
  .facebook_type h3
  {
      font-size: 15px;
  }
  .facebook_type h3 i
   {
     font-size: 29px!important;
   }
  .account_setting .top_buttons
  {
    margin-top: 20px;

  }

}
@media (max-width: 992px) {
  .account_login .main_block_text, .account_create .main_block_text
  {
    margin-top: 70px;
  }
  .account_setting .top_buttons
  {
    margin-top: 70px;

  }
  .game_block_main .right_mid_part
  {
    padding-top: 10px;
  }
  .quiz_block .main_block_game
  {
    margin-top: -1px;
  }
  .quiz_block .main_block_game
  {

  }
}
@media (max-width: 992px)
{
  section .main_center_block {
    margin: 70px 0 30px 0; }
}
@media  screen and (max-width: 768px) {
  footer .bottom_right_footer {
    padding-top: 20px; }
  .main_center_block {
    padding: 0; }
    .main_center_block h1 {
      font-size: 16px;
      display: inline-flex; }
      .main_center_block h1 span {
        padding-top: 4px; }
      .main_center_block h1 img {
        margin-right: 5px; }
    .main_center_block h2 {
      font-size: 16px;
      padding-bottom: 0; }
    .main_center_block .list_items li {
      margin: 20px 4px !important; }
  .game_name h3 {
    font-size: 15px; }
  .game_block_main .wrap {
    padding: 24px 24px 10px 24px; }
  .group_buttons {
    width: 100%;
    text-align: center; }
  .mid_section_block img {
    display: block;
    margin: 0 auto; }
  .last_type h3 {
    font-size: 16px; }
  footer .footer_table td a {
    font-size: 14px; }
  footer h3 {
    font-size: 18px; } }

@media  screen and (max-width: 500px) {
  .my_button {
    width: 120px;
    font-size: 12px;
    height: 45px;
    margin: 10px 0; }
  .bottom_button {
    width: 140px; } }

@media  screen and (max-width: 330px) {
  .my_button {
    width: 110px;
    height: 40px; }
  .bottom_button {
    width: 140px; }
  .game_block_main .right_mid_part {
    font-size: 15px; }
    .game_block_main .right_mid_part span {
      padding-left: 5px; } }

.bottom_button {
  display: block;
  margin: 30px  auto !important; }

.facebook_type {
  text-align: center;
  padding-bottom: 40px; }
  .facebook_type h3 {
    color: #c8a2c8;
    font-family: Bubble_b; }
    .facebook_type h3 i {
      vertical-align: text-top;
      padding-right: 10px;
      font-size: 42px;
      color: #3f3f3f; }
  .facebook_type .left_part {
    padding: 20px  40px; }
  .facebook_type .top_section_block {
    text-align: initial; }
  .facebook_type .facebook_block {
    display: inline-block;
    width: 500px;
    text-align: center; }
  .facebook_block p
  {
    text-align: left;
  }
#help_page .question_ico
{
  vertical-align: text-bottom;
}
#help_page .game_name h3
{
  margin-top: 0;
  margin-bottom: 0;
}


section .a_block {
  background: transparent;
  box-shadow: none; }
  section .a_block .question_ico {
    background: transparent; }
  section .a_block .wrap {
    padding-left: 0; }

section .main_block_score {
  background: #000000;
  border-radius: 30px;
  text-align: center;
  color: #FFFFFF;
  max-width: 700px;
  display: block;
  margin: 0 auto; }
  section .main_block_score h1 {
    font-size: 36px;
    color: #FFFFFF; }
  section .main_block_score h3 {
    padding: 20px 0;
    margin: 0; }
  section .main_block_score .main_score {
    font-size: 48px;
    padding: 5px 0;
    font-family: Bubble;
    background: #3a3737; }

section .results {
  padding: 0px 0; }
  section .results .result_block {
    -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    padding: 10px 0;
    margin-top: 20px;
    width: 100%; }
    section .results .result_block tr td {
      padding: 3px 20px; }
      section .results .result_block tr td:nth-child(1) {
        font-weight: bold;
      width: 21%;}
      section .results .result_block tr td:nth-child(3) {
        padding: 3px 10px 3px 0; }
    section .results .result_block i {
      color: #5ddcd9;
      font-size: 20px; }
  section .results .loose {
    background: #f6e3ef; }
    section .results .loose li:nth-child(2) {
      margin-bottom: 0 !important; }
    section .results .loose li:nth-child(3) {
      margin-bottom: 10px; }
    section .results .loose i {
      color: #e03e89; }

.main_center_block h4 {
  text-align: center; }
  .main_center_block h4 span {
    font-weight: bold; }

.main_table_score {
  width: 100%;
  text-align: center; }
  .main_table_score thead {
    background: #c8a2c8; }
    .main_table_score thead th {
      text-align: center;
      padding: 15px 0;
      color: #FFFFFF; }
  .main_table_score tbody td {
    padding: 15px 0;
    border-bottom: 1px solid #e8e8e8; }
  .main_table_score tfoot {
    background: #3a3737;
    color: #FFFFFF; }
    .main_table_score tfoot td {
      padding: 15px 0; }
  .main_table_score td {
    font-weight: bold; }
    .main_table_score td:nth-child(3) {
      font-weight: normal; }

.second_buttons button {
  width: 22%;
  margin: 30px 1px; }
.second_buttons button a:hover, .second_buttons button a:visited, .second_buttons button a:focus
{
  text-decoration: none;
  outline: none;

}
.second_buttons button:hover a
{
  color: #FFFFFF;

}
@media  screen and (max-width: 400px) {
  .main_block_score h1 {
    font-size: 24px !important; }
  .main_block_score .main_score {
    font-size: 36px !important; } }

@media  screen and (max-width: 768px) {
  .result_block td {
    padding: 3px 10px !important; } }

@media  screen and (max-width: 600px) {
  .facebook_block {
    width: 300px !important; } }

@media  screen and (max-width: 992px) {
  .a_block .wrap {
    padding-top: 0; } }

@media  screen and (max-width: 500px) {
  .facebook_block {
    width: 300px !important; } }

@media  screen and (max-width: 320px) {
  .facebook_block {
    width: 200px !important; } }

.leaderboard .main_center_block {
  padding: 0; }

.leaderboard .game_block_main .top_game_name .question_ico {
  background: transparent;
  text-align: bottom; }
  .leaderboard .game_block_main .top_game_name .question_ico img {
    margin-top: 7px; }

@media  screen and (max-width: 400px) {
  .leaderboard .top_game_name {
    font-size: 12px; } }

.points .top_buttons button {
  margin: 30px 0 0 10px; }

.points .main_center_block {
  padding: 0; }

.points .game_block_main .top_quest_ico {
  background: transparent; }

.points .second_table td {
  padding: 15px 15px; }
  .points .second_table td:nth-child(1) {
    font-weight: normal; }



@media  screen and (max-width: 400px) {
  .points .top_game_name {
    font-size: 12px; } }

.prizes .second_type {
  margin-top: 30px; }

.winners .main_center_block {
  padding-top: 0; }

/*
.winners .question_ico {
  background: transparent; }
*/

.winners .mid_section_block img {
  padding-bottom: 25px; }

.nav_acc_create {
  margin-left: 0; }

.main_name {
  font-family: Bubble_b;
  color: #c8a2c8;
  font-size: 30px;
  text-align: center;
  padding: 30px 0; }

.main_block_text {
  text-align: center; }

.h_acc {
  font-size: 16px; }
  .h_acc a {
    color: #000000;
    font-weight: bold; }
    .h_acc a:hover, .h_acc a:focus {
      text-decoration: none;
      outline: none; }

.main_group_input .input-group {
  border: 1px solid #eaeaea;
  border-radius: 30px;
  margin: 27px 0; }
  .main_group_input .input-group input {
    height: 60px;
    border: none;
    box-shadow: none;
    border-radius: 30px; }
    .main_group_input .input-group input:focus {
      outline: none;
      -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75); }
  .main_group_input .input-group span {
    color: #a1a1a1;
    border-radius: 30px;
    background: transparent;
    border: none; }

.checkBox {
  background-position: 0 0 !important; }

.checkBoxClear {
  background-position: -21px 0 !important; }

.checkBox, .checkBoxClear {
  background: url("../img/check-mark.svg") no-repeat;
  display: inline-block;
  float: left;
  width: 21px;
  height: 21px;
  border: 1px solid #e8e8e8;
  padding-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.2s; }

.label_for_checkbox {
  font-weight: normal;
  max-width: 85%;
  margin-left: 10px;
  cursor: pointer;
}

.main_button_acc {
  width: 50%;
  font-family: Bubble_b;
  background: #c8a2c8;
  color: #FFFFFF;
  border: none;
  height: 70px;
  border-radius: 40px;
  font-size: 21px;
  display: block;
  margin: 35px  auto; }
  .main_button_acc:focus, .main_button_acc:active {
    outline: none; }

.account_fp .main_name {
  padding: 50px 0 20px 0; }

@media  screen and (max-width: 1024px) {
  .acc_create .logo, .acc_login .logo, .acc_fp .logo {
    margin: 5px 0; }
  .acc_create .main_name, .acc_login .main_name, .acc_fp .main_name {
    padding: 15px 0; } }
  .acc_create .navbar-toggle, .acc_login .navbar-toggle, .acc_fp .navbar-toggle
  {
    margin-top: 11px;
  }
@media  screen and (max-width: 768px) {
  .account_create .main_name, .account_login .main_name, .account_fp .main_name {
    padding: 15px 0; } }

.account_login .checkBox, .account_login .checkBoxClear {
  margin-top: 0; }

.account_login .label_for_checkbox {
  width: 100%;
  max-width: 89%; }
  .account_login .label_for_checkbox a {
    float: right;
    color: #000000;
    font-weight: bold;
    font-family: Open-Sans; }
    .account_login .label_for_checkbox a:hover, .account_login .label_for_checkbox a:focus {
      text-decoration: none;
      outline: none; }

@media  screen and (max-width: 350px) {
  .label_for_checkbox {
    font-size: 13px;
    max-width: 88% !important; } }

.photo_upload {
  width: 120px;
  height: 120px;
  background: #f9eef5;
  margin: 0 auto;
  border-radius: 60px; }
  .photo_upload .p_upload_button {
    background: transparent;
    border: none;
    vertical-align: middle;
    padding: 20% 0;
    font-size: 12px;
    display: block;
    margin: 0 auto; }
    .photo_upload .p_upload_button:active, .photo_upload .p_upload_button:focus {
      outline: none; }
    .photo_upload .p_upload_button i {
      font-size: 30px; }
.photo_upload img
{
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}
.account_setting .account_list_block {
  padding-bottom: 20px; }

.account_setting .bottom_account_button {
  background: #c8a2c8;
  padding: 0;
  color: #FFFFFF!important;
  display: block;
  margin: 0 auto!important; }

.account_setting .account_top_block {
  text-align: center;
  padding-top: 15px; }
  .account_setting .account_top_block h3 {
    color: #c8a2c8;
    font-size: 24px;
    font-family: Bubble_b;
    padding: 0;
    margin: 0; }
  .account_setting .account_top_block button {
    margin: 0;
    padding: 0;
    background: #c8a2c8;
    color: #FFFFFF;
    width: 250px; }
  .account_setting .account_top_block span {
    display: block;
    padding: 10px 0 40px 0;
    font-size: 18px; }
  .account_setting .account_top_block i {
    padding-top: 3px; }

.account_setting .account_list {
  list-style: none;
  margin: 0; }
  .account_setting .account_list td {
    padding: 10px 0; }
  .account_setting .account_list .rounded {
    width: 50px;
    display: inline-block;
    height: 50px;
    border-radius: 30px;
    background: transparent;
    -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    text-align: center;
    vertical-align: middle;
    margin-right: 20px; }
    .account_setting .account_list .rounded i {
      color: #3f3f3f;
      font-size: 24px;
      display: block;
      margin-top: 10px; }
  .account_setting .account_list li {
    font-family: Open-Sans;
    margin: 20px 0; }

.account_setting .game_block_main .bottom_inputs {
  padding-bottom: 40px; }

.account_setting .game_block_main h3 {
  font-family: Bubble_b;
  font-size: 24px;
  color: #c8a2c8;
  text-align: center; }

.account_setting .game_block_main input[type=text], .account_setting .game_block_main input[type=password], .account_setting .game_block_main input[type=email], .account_setting .game_block_main input[type=file] {
  height: 60px;
  border-radius: 30px !important;
  margin: 10px 0;
  padding: 0 30px; }
  .account_setting .game_block_main input[type=password]:nth-child(5), .account_setting .game_block_main input[type=email]:nth-child(5) {
    margin-bottom: 30px; }
.account_setting .game_block_main input[type=file]
{
  padding: 18px 30px;
}
.account_setting .account_custom .gender_group {
  text-align: center; }

.account_setting .account_custom .birthday {
  text-align: center; }

.account_setting .account_custom .my_button {
  font-family: Open-Sans;
  width: 47%;
  margin: 20px  1.5%;
  color: #a1a1a1; }
  .account_setting .account_custom .my_button:hover {
    color: #FFFFFF; }
    .account_setting .account_custom .my_button:hover i {
      color: #FFFFFF; }
  .account_setting .account_custom .my_button i {
    vertical-align: middle;
    padding: 0 10px 0 0;
    color: #a1a1a1; }
.account_custom .wrap
{
  padding: 20px 40px;
}
.account_setting .account_custom h6 {
  text-align: center;
  font-size: 18px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 10px;
}
.account_setting .input-group .form-control
{
  float: inherit;
}
.account_setting .account_custom .btn-group {
  width: 30%;
  margin: 10px  1.5%;
  display: inline-block; }
  .account_setting .account_custom .btn-group button {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    color: #a1a1a1; }
.custom_links a
{
  padding: 3.3% 0;
  height: 58px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .btn-default:hover, .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
  background-color: #FFFFFF;
  border-color: #a1a1a1; }
.game_block_main .upload_photo_wrap
{
  padding: 20px 40px;
}
.rail-select {
  width: 30%;
  display: inline-block;
  margin: 20px  1.0%; }
  .rail-select select {
    border: solid 1px #ccc;
    border-radius: 30px;
    font-size: 16px;
    color: #a1a1a1;
    height: 60px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .rail-select select:focus {
      outline: none;
      box-shadow: none;
      border: solid 1px #a1a1a1; }

.radio {
  margin: 0 auto; }
  .radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    width: 47%;
    text-align: center;
    vertical-align: middle;
    border-radius: 30px;
    margin: 20px 1.0%;
    padding: 0;
    height: 60px;
    color: #a1a1a1;
    -webkit-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px -11px rgba(0, 0, 0, 0.75); }
    .radio label i {
      padding-right: 10px;
      vertical-align: middle;
      font-size: 24px; }
    .radio label span {
      margin-top: 15px;
      display: block; }

input[type=radio] {
  display: none; }

input[type=radio]:checked + label {
  background: #3f3f3f;
  color: #f3f3f3;
  text-align: center;
  line-height: 18px;
  transition: 0.3s; }

@media  screen and (max-width: 768px) {
  .account_custom .dropdown-menu {
    min-width: 90px !important; } }

.main_block_game {
  background: #c8a2c8;
  padding: 26px;
  margin: 30px 0; }
  .main_block_game .quiz_header {
    position: relative; }
    .main_block_game .quiz_header .test {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -30px; }
  .main_block_game .money {
    color: #fff;
    font-size: 18px; }
    .main_block_game .money i {
      padding-right: 5px; }
  .main_block_game .questions_block {
    background: #FFFFFF;
    border-radius: 20px; }
    .main_block_game .questions_block h1 {
      padding: 40px 10px 20px 10px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      font-family: Open-Sans; }
    .main_block_game .questions_block .group_answers {
      width: 70%;
      margin: 0 auto; }
      .main_block_game .questions_block .group_answers img {
        display: block;
        margin: 10px  auto; }
      .main_block_game .questions_block .group_answers .link_answer {
        color: #000000;
        font-weight: bold;
        font-size: 18px;
        background: #f8e1ef;
        border-radius: 40px;
        width: 100%;
        padding: 15px 10px;
        margin: 20px 0;
        text-align: center;
        display: inline-block;
        font-family: Open-Sans;
        -webkit-box-shadow: 0px 0px 34px -15px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 34px -15px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 34px -15px rgba(0, 0, 0, 0.75); }
        .main_block_game .questions_block .group_answers .link_answer:hover, .main_block_game .questions_block .group_answers .link_answer:visited, .main_block_game .questions_block .group_answers .link_answer:active, .main_block_game .questions_block .group_answers .link_answer:focus {
          text-decoration: none; }
        .main_block_game .questions_block .group_answers .link_answer:nth-child(2n) {
          margin-left: 17%; }

#timer {
  position: absolute;
  color: #FFFFFF;
  z-index: 998;
  cursor: default;
  top: 18px;
  font-family: Open-Sans;
  font-weight: bold;
  left: 15px;
  font-size: 13px; }
  #timer div {
    display: inline-block; }

.close_game {
  display: none; }

.mark_answer {
  text-decoration: underline !important; }

.correct_answer {
  background: #beda57 !important;
  background: -webkit-linear-gradient(left, #beda57, #6ac155) !important;
  color: #FFFFFF !important;
  text-decoration: underline !important; }

.wrong_answer {
  background: #ba3c32 !important;
  background: -webkit-linear-gradient(left, #ba3c32, #ce1101) !important;
  color: #FFFFFF !important;
  text-decoration: underline !important; }

.help-block
{
  margin-top: -25px;
  color: red;
  font-weight: normal;

}
.account_setting .help-block
{
  margin: 0;
}
.has-error
{
  border-color: red !important;

}
.account_create .label_for_checkbox
{
  margin-bottom: 30px;
}

.navbar-nav .none_width
{
  display: none;
}

.table_membership
{
  width: 100%;
}
.table_membership td
{
  padding: 10px;

}
.table_membership td span
{
  font-size: 22px;
  vertical-align: bottom;

}
#help_page .mid_section_block a
{
  text-decoration: underline;
}
.custom-photo
{
  width: 60px;
  height: 60px;
  vertical-align: top;
  display: inline-block;
}
.black
{
  color: #000000;
}
.icon-female:before
{
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
.custom_margin
{
  margin-top: 30px;
}
.list_items li .active
{
  background: #c8a2c8;
}
.list_items li .active i
{
  color: #FFFFFF;
}
.list_items li .active span
{
  bottom: -35px;
  font-weight: bold;
}

.footer_logo
{
  width: 300px;
  margin-top: 15px;
}
#reset_pass
{
  margin-top: 100px;
  margin-bottom: 30px;
}
#reset_pass .my_button
{
  margin-top: 15px;
  margin-bottom: 15px;
}
#reset_pass h3
{
  margin-top: 10px;
  margin-bottom: 20px;
}

.upgrade-alert p
{
  text-align: center;
  color: #2c2c2c;
  font-size: 16px;
}
.upgrade-alert p.sorry
{
    color: #c8a2c8;
    font-size: 21px;
}


@media  screen and (max-width: 1025px)
{
  .navbar-nav .none_width
  {
    display: block;
  }


}



@media (min-width: 768px) {
  .form-horizontal .control-label
  {
    text-align: left;
    margin-top: 20px;

    font-family: Bubble;
  }
}
@media  screen and (max-width: 992px) {
  .close_game {
    display: inline-block; }
  .hidden_obj {
    display: none; }
  section {
    padding: 0;
    margin: 0; }
  .main_block_game {
    margin: 0; }
  .d_padding {
    padding: 0 !important; }
  .quiz_block .container {
    width: 100%; } }
  .face_wrap iframe
  {
    width: 250px;
  }
  .facebook_block iframe
  {
    width: 205px;
  }
  .footer_logo
  {
    width: 250px;
  }


@media (min-width: 1025px)
{
  .quiz_block .money
  {
    visibility: hidden;
  }
}
.game_block_main {
  margin-top: 30px;
}