:root {
  --main-color: #dc7052;
  --accent-color: #ed5e36;
  --secondary-color: #979797;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: inherit;
}

html {
  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 991px) {
  header {
    background-color: var(--main-color);
    box-shadow: none;
  }
}

@media (max-width: 991px) {
  .hide-on-mob {
    display: none;
    padding-top: 60px;
  }
}

.show-on-mob {
  font-family: "Open Sans", sans-serif;
  display: none;
  background-color: var(--main-color);
  min-height: 100vh;
}
@media (max-width: 991px) {
  .show-on-mob {
    display: block;
  }
}

@media (max-width: 991px) {
  body {
    padding-bottom: 84px;
  }
}

.daily {
  padding: 16px 0 24px;
}
.daily__title {
  padding-inline: 16px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 16px;
}
.daily__list {
  overflow-x: visible;
}

.daily__list {
  padding-inline: 16px;
  scroll-padding-inline: 16px;
  display: flex;
  gap: 8px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.daily__list::-webkit-scrollbar {
  display: none;
}

.daily-item {
  width: 200px;
  box-shadow: 0 3px 9px 0 rgba(83, 42, 31, 0.1);
  background: #fff;
  border-radius: 13px;
  padding: 8px 8px 16px;
  scroll-snap-align: center;
}
.daily-item__img {
  position: relative;
  border-radius: 7px;
  margin-bottom: 7px;
}
.daily-item__img img {
  display: block;
}
.daily-item__img::after {
  content: "";
  display: block;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(75, 38, 28, 0) 0%, rgba(75, 38, 28, 0.56) 100%);
}
.daily-item__title {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  z-index: 1;
  padding: 12px 12px 10px;
}
.daily-item__desc {
  font-size: 13px;
  color: #8b8b8b;
  margin-bottom: 12px;
}
.daily-item__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.star-checkbox {
  display: flex;
  -webkit-tap-highlight-color: transparent;
}
.star-checkbox input[type=checkbox] {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 0;
}
.star-checkbox input[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: 1.7rem;
  transition: transform 0.3s;
  width: 24px;
  height: 24px;
}
.star-checkbox input[type=checkbox] + label:after,
.star-checkbox input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  height: 24px;
  width: 24px;
  background-size: contain;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0.6);
}
.star-checkbox input[type=checkbox] + label:before {
  background-image: url("../img/icons/star-1.svg");
  opacity: 1;
  transform: scale(1);
}
.star-checkbox input[type=checkbox] + label:after {
  background-image: url("../img/icons/star-2.svg");
  opacity: 0;
}
.star-checkbox input[type=checkbox]:checked + label:before {
  opacity: 0;
  transform: scale(0.6);
}
.star-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
@media (hover: hover) {
  .star-checkbox:hover input[type=checkbox] + label {
    transform: scale(1.2);
  }
}

a.custom-btn {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  background-color: var(--main-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  padding: 8px 20px;
  border-radius: 43px;
  transition: background-color 0.3s;
}
@media (hover: hover) {
  a.custom-btn:hover {
    background-color: var(--accent-color);
    color: #fff;
  }
}
a.custom-btn:active, a.custom-btn:focus {
  outline: none;
  color: #fff;
}

.games {
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  padding: 24px 16px;
}
.games__header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.games__title {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  letter-spacing: -0.24px;
}
.games__all {
  color: var(--main-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
}
@media (hover: hover) {
  .games__all:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }
}
.games__all:focus, .games__all:active {
  color: var(--accent-color);
  text-decoration: underline;
}

.games-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.game-item {
  padding: 8px;
  display: flex;
  gap: 16px;
  border-radius: 13px;
  box-shadow: 0 3px 9px 0 rgba(83, 42, 31, 0.1);
  background: #fff;
}
.game-item__img {
  border-radius: 7px;
  flex: 0 0 35%;
  aspect-ratio: 1;
  max-width: 160px;
}
.game-item__img img {
  width: 100%;
  display: block;
}
.game-item__text {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
}
.game-item__title {
  font-weight: 600;
  font-size: 15px;
  color: #000;
  margin-bottom: 8px;
}
.game-item__desc {
  font-size: 13px;
  color: #8b8b8b;
  margin-bottom: 13px;
}
.game-item__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 10px;
}

.toolbar {
  display: none;
}
@media (max-width: 991px) {
  .toolbar {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    gap: 15px;
    background-color: #fff;
    box-shadow: 0 -3px 9px 0 rgba(83, 42, 31, 0.1);
    padding: 12px 16px 31px;
  }
}

.toolbar-item {
  text-decoration: none;
  padding-inline: 10px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolbar-item__text {
  font-size: 10px;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}
.toolbar-item__icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}
.toolbar-item__icon::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
}
.toolbar-item__icon_games::before {
  -webkit-mask: url(../img/icons/games.svg) no-repeat 50% 50%;
  mask: url(../img/icons/games.svg) no-repeat 50% 50%;
}
.toolbar-item__icon_favorites::before {
  -webkit-mask: url(../img/icons/favorites.svg) no-repeat 50% 50%;
  mask: url(../img/icons/favorites.svg) no-repeat 50% 50%;
}
.toolbar-item__icon_highscore::before {
  -webkit-mask: url(../img/icons/highscore.svg) no-repeat 50% 50%;
  mask: url(../img/icons/highscore.svg) no-repeat 50% 50%;
}
.toolbar-item__icon_prizes::before {
  -webkit-mask: url(../img/icons/prizes.svg) no-repeat 50% 50%;
  mask: url(../img/icons/prizes.svg) no-repeat 50% 50%;
}
@media (hover: hover) {
  .toolbar-item:hover {
    text-decoration: none;
  }
  .toolbar-item:hover .toolbar-item__icon::before {
    background-color: var(--main-color);
  }
  .toolbar-item:hover .toolbar-item__text {
    color: var(--main-color);
  }
}
.toolbar-item:hover, .toolbar-item:focus {
  text-decoration: none;
}
.toolbar-item.active .toolbar-item__icon:before {
  background-color: var(--main-color);
}
.toolbar-item.active .toolbar-item__text {
  color: var(--main-color);
  font-weight: 600;
}